"Resources" : {
  "AWSEBLoadBalancerSecurityGroup": {
    "Type" : "AWS::EC2::SecurityGroup",
    "Properties" : {
      "GroupDescription" : "Enable 80 inbound and 80 outbound",
      "VpcId": "vpc-1ba28b7f",
      "SecurityGroupEgress": [ {
        "IpProtocol" : "tcp",
        "FromPort" : "80",
        "ToPort" : "80",
        "CidrIp" : "172.16.0.0/16"
      } ],
      "SecurityGroupEgress": [ {
        "IpProtocol" : "tcp",
        "FromPort" : "22",
        "ToPort" : "22",
        "CidrIp" : "172.16.0.0/16"
      } ]
    }
  }
}
