# .ebextensions/02-ports.config
Resources:
  AWSEBSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Security group to allow 22 (SSH), 80 (App), 8000 (Node with 8080 tomcat)"
      SecurityGroupIngress:
        - CidrIp: 172.16.0.0/16
          IpProtocol: tcp
          FromPort: 22
          ToPort: 22
        - CidrIp: 0.0.0.0/0
          IpProtocol: tcp
          FromPort: 80
          ToPort: 80
