# .ebextensions/03-tomcat-users.config
files:
  "/var/app/current/tomcat/conf/tomcat-users.xml" :
    mode: "000600"
    owner: root
    group: root
    source: https://s3.amazonaws.com/use1-configs/tomcat/tomcat-users.xml
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: use1-configs

